{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["."],
                "extensions": [".ts", ".tsx", ".js", ".json"],
                "alias": {
                    "~/*": ["./src/*"],
                    // "~/components/*": ["./src/components/*"],
                    "@components": ["./src/components"],
                    "@components/*": ["./src/components/*"]
                }
            }
        ]
    ]
}
