{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier",
    "prettier",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["node_modules/*"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": ["warn", { "vars": "all" }],
    "react-hooks/exhaustive-deps": "warn",
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "no-return-await": "off",
    "@typescript-eslint/return-await": "error",
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 120,
        "useTabs": false,
        "tabWidth": 4,
        "trailingComma": "none",
        "semi": true,
        "singleQuote": false,
        "bracketSpacing": true,
        "arrowParens": "always",
        "jsxSingleQuote": false,
        "bracketSameLine": false,
        "endOfLine": "lf"
      }
    ]
  }
}
